body {
  text-align: center;
  background-color: lightgray;
}

#connect4 {
  background-color:	#1979a9;
  border-radius: 25px;
  border: solid #0a567c;
  display: block;
  display: inline-block;
}

.col {
  display: inline-block;
}

.row {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px;
}
