body {
  text-align: center;
  background-color: rgb(233, 233, 233);
  display: block;
  justify-content: center;
}

#connect4 {
  background-color:	#1979a9;
  display: inline-block;
  border-radius: 25px;
  border: solid #0a567c;
}

#connect4:empty {
  display: none;
}

.col {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(233, 233, 233);
  margin: 5px;
}

.col.empty{
  cursor: pointer;
}

.col.red {
  background-color: red;
}

.next-red {
  background-color: rgb(240, 143, 143);
}

.col.yellow {
  background-color: rgb(253, 221, 42);
}

.next-yellow {
  background-color: rgb(255, 238, 139);
}


#restartButton{
  transition-duration: 0.2s;
  background-color: transparent;
  border: thin solid black;
  margin-top: 10px;
}

#restartButton:empty{
  display: none;
}

#changeModeButton{
  transition-duration: 0.2s;
  background-color: transparent;
  border: thin solid black;
  margin-top: 10px;
}

#changeModeButton:empty{
  display: none;
}

#restartButton:hover {
  color:white;
  background-color: #1979a9; 
}

#changeModeButton:hover {
  color:white;
  background-color: #1979a9;
}

#game {
  display: inline-block;
  width: 800px;
  text-align: center;
  justify-content: center;
}

#menu{
  margin-top: 15%;
  border-radius: 25px;
  width: max-content;
  border: solid #0a567c;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

#menu:empty{
  margin-top: 0%;
  border: none;
  display: none;
} 

#menuText{
  margin-left: 50px;
  margin-right: 50px;
}

#menuButtons{
  margin-right: auto;
  margin-left: auto;
}
#normalButton{
  transition-duration: 0.2s;
  background-color: transparent;
  border: thin solid black;
}
#timedButton{
  transition-duration: 0.2s;
  background-color: transparent;
  border: thin solid black;
}

#normalButton:hover {
  color:white;
  background-color: #1979a9; 
}

#timedButton:hover {
  color:white;
  background-color: #1979a9;