body {
  text-align: center;
  background-color: lightgray;
}

#connect4 {
  background-color:	#1979a9;
  display: inline-block;
  border-radius: 25px;
  border: solid #0a567c;
}

.col {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px;
}

.next-red {
  background-color: rgb(240, 143, 143);
}
